// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

$primary-color: #21cc99;
$secondary-color: #0ca678;
$dark-color: #242424;
$error-color: #f03e3e;
$gray-color: #4e4a4a;
$info-color: #b0db14;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  font-family: 'Montserrat', 'Roboto', sans-serif;
  background-color: $dark-color;
  color: #fff;
}

.toast {
  font-size: 2rem;
}

.bg_primary {
  background-color: $primary-color;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.input-textfield {
  input {
    font-size: 1.6rem;
  }

  label {
    font-size: 1.5rem;
  }
}