@import "base.scss";

@mixin respond($breakpoint) {

  // 600px
  @if $breakpoint ==phone {
    @media only screen and (max-width: $bp-small) {
      @content
    }

    ;
  }

  // 800px
  @if $breakpoint ==tab-port {
    @media only screen and (max-width: $bp-medium) {
      @content
    }

    ;
  }

  // 1000px
  @if $breakpoint ==tab-land {
    @media only screen and (max-width: $bp-large) {
      @content
    }

    ;
  }

  // 1200px
  @if $breakpoint ==desktop {
    @media only screen and (max-width: $bp-largest) {
      @content
    }

    ;
  }

}

@mixin base-line-settings {
  content: "";
  background-color: $gray-color;
  position: absolute;
  top: 50%;
  right: -15%;
  z-index: -1;
}

@mixin base-line-settings-loosed {
  content: "";
  background-color: $gray-color;
  position: absolute;
  top: 50%;
  left: -27%;
  z-index: -1;
}