@import "../../../main.scss";

.stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &--title {
    font-size: 2.6rem;
    color: $primary-color;
    text-align: center;
    margin-top: 3rem;
  }

  &__table {
    width: 40rem;
    padding: 0 5rem;

    &--head-cell {
      font-size: 1.8rem;
      font-weight: bold;
    }

    &--cell {
      font-size: 1.6rem;
    }
  }

  &--button {
    width: 30%;
    margin: auto;
    font-size: 1.6rem;

  }
}

.score-button {
  font-size: 1.8rem;
}