@import "../../../main.scss";

.title {
  font-size: 2.4rem;
  color: $primary-color;
  text-align: center;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
  margin: auto;
  align-items: center;
  background-color: $dark-color;
  padding: 2rem 3rem;
  margin-top: 3rem;
  border-radius: 5px;

  .form {
    display: flex;
    justify-content: space-between;
    gap: 3rem;


    &__player {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &--name {
        font-size: 2rem;
        text-align: center;
        color: $primary-color;
      }
    }

    &__button {
      font-size: 1.5rem;
      color: white;
    }
  }
}


.button {
  font-size: 1.5rem;
}