@import "../../../main.scss";


.match {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border: 2px solid $primary-color;
  padding: 2rem 2.5rem;
  border-radius: 10px;
  margin: 2.5rem 0rem;
  background-color: $dark-color;
  position: relative;

  &__winner {

    input {
      color: $info-color;
    }

    p {
      color: $info-color;
      font-size: 2.5rem;
    }
  }

  &__player {
    display: flex;
    font-size: 2rem;
    gap: 5rem;
    align-items: center;
  }

  &__new-match-button {
    text-align: center;

    button {
      font-size: 1.4rem;

      svg {
        font-size: 3rem;
      }
    }
  }

}

.col-1 {
  margin-right: 5rem;

  &__match-1 {
    grid-row: 7/9;
  }

  &__match-1::after {
    @include base-line-settings-loosed;
    width: 42rem;
    height: 2px;
    left: 0;
  }
}

.col-2 {
  &__match-1 {
    grid-row: 4/6;
  }

  &__match-2 {
    grid-row: 12/14;
  }

  &__match-1::after,
  &__match-2::after {
    @include base-line-settings-loosed;
    width: 52rem;
    height: 2px;
  }

  &__match-1::before {
    @include base-line-settings-loosed;
    width: 2px;
    height: 88rem;
  }
}

.col-3 {
  &__match-1 {
    grid-row: 2/4;
  }

  &__match-2 {
    grid-row: 6/8;
  }

  &__match-3 {
    grid-row: 10/12;
  }

  &__match-4 {
    grid-row: 14/16;
  }

  &__match-1::after,
  &__match-2::after,
  &__match-3::after,
  &__match-4::after {
    @include base-line-settings-loosed;
    width: 52rem;
    height: 2px;
  }

  &__match-1::before,
  &__match-3::before {
    @include base-line-settings-loosed;
    width: 2px;
    height: 44rem;
  }
}

.col-4 {
  &__match-1 {
    grid-row: 1/3;
  }

  &__match-1::after,
  &__match-2::after,
  &__match-3::after,
  &__match-4::after,
  &__match-5::after,
  &__match-6::after,
  &__match-7::after,
  &__match-8::after {
    @include base-line-settings;
    width: 52rem;
    height: 2px;
  }

  &__match-1::before,
  &__match-3::before,
  &__match-5::before,
  &__match-7::before {
    @include base-line-settings-loosed;
    width: 2px;
    height: 22rem;
  }

  &__match-2::before,
  &__match-4::before,
  &__match-6::before,
  &__match-8::before {
    content: "";
    background-color: $gray-color;
    position: absolute;
    top: -82%;
    right: -15%;
    z-index: -1;
    width: 2px;
    height: 22rem;
  }

  &__match-2 {
    grid-row: 3/5;
  }

  &__match-3 {
    grid-row: 5/7;
  }

  &__match-4 {
    grid-row: 7/9;
  }

  &__match-5 {
    grid-row: 9/11;
  }

  &__match-6 {
    grid-row: 11/13;
  }

  &__match-7 {
    grid-row: 13/15;
  }

  &__match-8 {
    grid-row: 15/17;
  }
}

.col-5 {
  &__match-1 {
    grid-row: 2/4;
  }

  &__match-2 {
    grid-row: 6/8;
  }

  &__match-3 {
    grid-row: 10/12;
  }

  &__match-4 {
    grid-row: 14/16;
  }

  &__match-1::after,
  &__match-2::after,
  &__match-3::after,
  &__match-4::after {
    @include base-line-settings;
    width: 52rem;
    height: 2px;
  }

  &__match-1::before,
  &__match-3::before {
    @include base-line-settings;
    width: 2px;
    height: 44rem;
  }
}

.col-6 {
  &__match-1 {
    grid-row: 4/6;
  }

  &__match-2 {
    grid-row: 12/14;
  }

  &__match-1::after,
  &__match-2::after {
    @include base-line-settings;
    width: 52rem;
    height: 2px;
  }

  &__match-1::before {
    @include base-line-settings;
    width: 2px;
    height: 88rem;
  }
}

.col-7 {
  margin-right: 5rem;

  &__match-1 {
    grid-row: 7/9;
  }

  &__match-1::after {
    @include base-line-settings;
    width: 20rem;
    height: 2px;
    left: -32%;
  }
}