@import "../../../main.scss";

.add-button {
  font-size: 1.5rem;
  color: white;
  min-width: 20rem;
  font-weight: bold;
}

.new-tournament {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 4rem;
  width: 35rem;

  &--title {
    font-size: 2.2rem;
    color: $primary-color;
    margin-bottom: 3rem;
  }

  &--input {
    width: 70%;
  }
}