@import "../../../main.scss";

.form {
  background-color: $dark-color;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 2rem;
  width: 60%;
  border-radius: 5px;

  &__inputs {
    display: flex;
    gap: 3rem;
  }

  &__button {
    font-size: 1.5rem;
    color: white;
  }
}