@import "../../../main.scss";

.tournament {
  display: grid;
  grid-template-columns: repeat(7, 37rem);
  grid-template-rows: 7rem auto;
  column-gap: 15rem;
  row-gap: 5rem;
  overflow: visible;
  padding: 0rem 5rem;
  width: 100vw;
  height: 100vh;

  &__info {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  &__info-select {
    display: flex;
    gap: 3rem;
    justify-content: center;

  }

  &__col-1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  &__col-2 {
    grid-column: 2/3;
    grid-row: 2/3;

  }

  &__col-3 {
    grid-column: 3/4;
    grid-row: 2/3;

  }

  &__col-4 {
    grid-column: 4/5;
    grid-row: 2/3;

  }

  &__col-5 {
    grid-column: 5/6;
    grid-row: 2/3;

  }

  &__col-6 {
    grid-column: 6/7;
    grid-row: 2/3;

  }

  &__col-7 {
    grid-column: 7/8;
    grid-row: 2/3;

  }




  &__matches {
    display: grid;
    grid-template-rows: repeat(16, 11rem);

    &--title {
      grid-row: 1/2;
      font-size: 2rem;
      color: $primary-color;
      text-align: center;
      align-self: center;
    }
  }

  // &__matches:hover {
  //   background-color: rgba(97, 97, 97, 0.26);
  //   transition: all 400ms ease-in-out;
  // }
}

.tournament-select {
  display: flex;
  gap: 2rem;

  &--date {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 2.2rem;
    min-width: 20rem;
    color: $primary-color;
    font-weight: bold;
  }

  &__select {
    width: 40rem;
  }
}